In [1]:
# Check the Python Version

import sys
print(sys.version)

3.10.9 | packaged by Anaconda, Inc. | (main, Mar  1 2023, 18:18:15) [MSC v.1916 64 bit (AMD64)]

In [2]:
# Practice on writing comments

print('Hello, Python!') # This line prints a string
# print("Hi")

Hello, Python!

In [3]:
# Integer

11

11

In [4]:
# Float

2.14

2.14

In [5]:
# String

"Hello, Python 101!"

'Hello, Python 101!'

In [6]:
# Type of 12

type(12)

int

In [7]:
# Type of 2.14

type(2.14)

float

In [8]:
# Type of "Hello, Python 101!"

type("Hello, Python 101!")

str

In [13]:
### Integers

In [14]:
# Print the type of -1

type(-1)

int

In [15]:
# Print the type of 4

type(4)

int

In [16]:
# Print the type of 0

type(0)

int

In [17]:
# Print the type of 1.0

type(1.0) # Notice that 1 is an int, and 1.0 is a float

float

In [18]:
# Print the type of 0.5

type(0.5)

float

In [19]:
# Print the type of 0.56

type(0.56)

float

In [20]:
# System settings about float type
import sys
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [21]:
# Convert 2 to a float

float(2)

2.0

In [22]:
# Convert integer 2 to a float and check its type

type(float(2))

float

In [23]:
# Casting 1.1 to integer will result in loss of information

int(1.1)

1

In [24]:
# Convert a string into an integer

int('1')

1

In [25]:
# Convert a string into an integer with error

int('1 or 2 people')

ValueError: invalid literal for int() with base 10: '1 or 2 people'

In [26]:
# Convert the string "1.2" into a float

float('1.2')

1.2

In [27]:
# Convert an integer to a string

str(1)

'1'

In [28]:
# Convert a float to a string

str(1.2)

'1.2'

In [29]:
# Value true

True

True

In [30]:
# Type of True

type(True)

bool

In [31]:
# Integer division operation expression

25 // 5

5

In [32]:
# New line escape sequence

print(" The BodyGuard\n is the best album" )

 The BodyGuard
 is the best album

In [33]:
# Tab escape sequence

print(" The BodyGuard \t is the best album" )

 The BodyGuard 	 is the best album

In [34]:
# Include back slash in string

print(" The BodyGuard \\ is the best album" )

 The BodyGuard \ is the best album

In [35]:
# r will tell python that string will be display as raw string

print(r" The BodyGuard \ is the best album" )

 The BodyGuard \ is the best album

In [36]:
# Convert all the characters in string to upper case

a = "Thriller is the sixth studio album"
print("before upper:", a)
b = a.upper()
print("After upper:", b)

before upper: Thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM

In [37]:
# Replace the old substring with the new target substring is the segment has been found in the string

a = "The BodyGuard is the best album"
b = a.replace('BodyGuard', 'Janet')
b

'The Janet is the best album'

In [38]:
# Find the substring in the string. Only the index of the first elment of substring in string will be the output

name = "The BodyGuard"
name.find('he')

1

In [39]:
# Find the substring in the string.

name.find('Guard')

8

In [40]:
# If cannot find the substring in the string

name.find('Jasdfasdasdf')

-1

In [41]:
#Split the substring into list
name = "The BodyGuard"
split_string = (name.split())
split_string

['The', 'BodyGuard']

In [42]:
import re

In [43]:
s1 = "The BodyGuard is the best album"

# Define the pattern to search for
pattern = r"Body"

# Use the search() function to search for the pattern in the string
result = re.search(pattern, s1)

# Check if a match was found
if result:
    print("Match found!")
else:
    print("Match not found.")

Match found!

In [44]:
pattern = r"\d\d\d\d\d\d\d\d\d\d"  # Matches any ten consecutive digits
text = "My Phone number is 1234567890"
match = re.search(pattern, text)

if match:
    print("Phone number found:", match.group())
else:
    print("No match")

Phone number found: 1234567890

In [45]:
Module 1 Cheat Sheet: Python Basics
Package/Method	Description	Code Example
Comments	Comments are lines of text that are ignored by the Python interpreter when executing the code<./td>	
# This is a comment
Concatenation	Combines (concatenates) strings.	Syntax:
concatenated_string = string1 + string2 
Example:

result = "Hello" + " John"</td>
Data Types	- Integer - Float - Boolean - String	Example:
x=7 
# Integer Value 
y=12.4 
# Float Value 
is_valid = True 
# Boolean Value 
is_valid = False 
# Boolean Value 
F_Name = "John" 
# String Value
Indexing	Accesses character at a specific index.	Example:
my_string="Hello" 
char = my_string[0]
len()	Returns the length of a string.	Syntax:
len(string_name) 
Example:

my_string="Hello" 
length = len(my_string)
lower()	Converts string to lowercase.	Example:
my_string="Hello" 
uppercase_text = my_string.lower()
print()	Prints the message or variable inside `()`.	Example:
print("Hello, world") 
print(a+b)
Python Operators	- Addition (+): Adds two values together.
- Subtraction (-): Subtracts one value from another.
- Multiplication (*): Multiplies two values.
- Division (/): Divides one value by another, returns a float.
- Floor Division (//): Divides one value by another, returns the quotient as an integer.
- Modulo (%): Returns the remainder after division.	Example:
x = 9 y = 4 
result_add= x + y # Addition 
result_sub= x - y # Subtraction 
result_mul= x * y # Multiplication 
result_div= x / y # Division 
result_fdiv= x // y # Floor Division 
result_mod= x % y # Modulo</td>
replace()	Replaces substrings.	Example:
my_string="Hello" 
new_text = my_string.replace("Hello", "Hi")
Slicing	Extracts a portion of the string.	Syntax:
substring = string_name[start:end] 
Example:

my_string="Hello" substring = my_string[0:5]
split()	Splits string into a list based on a delimiter.	Example:
my_string="Hello" 
split_text = my_string.split(",")
strip()	Removes leading/trailing whitespace.	Example:
my_string="Hello" 
trimmed = my_string.strip()
upper()	Converts string to uppercase.	Example:
my_string="Hello" 
uppercase_text = my_string.upper()
Variable Assignment	Assigns a value to a variable.	Syntax:
variable_name = value 
Example:

name="John" # assigning John to variable name 
x = 5 # assigning 5 to variable x

© IBM Corporation. All rights reserved.

SyntaxError: invalid character '©' (U+00A9) (3155079877.py, line 73)

In [1]:
#Copy and Clone List

In [3]:
# Copy (copy by reference) the list A

A = ["hard rock", 10, 1.2]
B = A
print('A:', A)
print('B:', B)

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

In [4]:
# Examine the copy by reference

print('B[0]:', B[0])
A[0] = "banana"
print('B[0]:', B[0])

B[0]: hard rock
B[0]: banana

In [5]:
# Clone (clone by value) the list A

B = A[:]
B

['banana', 10, 1.2]

In [6]:
print('B[0]:', B[0])
A[0] = "hard rock"
print('B[0]:', B[0])

B[0]: banana
B[0]: banana

In [7]:
#

In [8]:
#